@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Kategori Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group" >
        @Html.LabelFor(x => x.KagetoriAd)
        @Html.TextBoxFor(x => x.KagetoriAd, new { @class = "form-control" })
        @Html.HiddenFor(x => x.KategoriID)
        <br />
        <button class="btn btn-info" style="background-color:yellowgreen">Güncelle</button>
    </div>
}
